<html>
<div class="booksmain">
<body>
    <h1>ようこそ <strong>Bookers</strong>  へ！</h1>
<p class="bookersmain2"><strong>Bookers</strong>  では、さまざまな書籍に関するあなたの意見や</p>
<p class="bookersmain3">印象を共有し交換することができます</p>

<p class="bookersmain4"> <%= link_to "start", posts_path %> </p>
</body>
</div>
</html>
